.MainDash5{
  height:78.5%;
    /* padding-top: 1rem; */
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid blue;
     margin-top: 10px;
  }
  
  