body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height:max-content;
    display: block;
    /* background-color: yellow; */
  }

*{
  margin: 0;
  padding: 0;
  outline: 0;

  appearance: none;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}
@media screen and (max-width:960px) {
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}